# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# DVC files
.dvc/
data/raw/
data/processed/
data/enriched/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db