# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# DVC - Ignorar el cache donde se guardan los datos reales
.dvc/cache
.dvc/tmp

# Ignorar el CONTENIDO de las carpetas de datos...
data/raw/*
data/processed/*
data/enriched/*

# ...PERO NO ignores los archivos .dvc (los punteros) ni los .gitignore
!data/raw/*.dvc
!data/raw/.gitignore
!data/processed/*.dvc
!data/processed/.gitignore
!data/enriched/*.dvc
!data/enriched/.gitignore

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db